


/* global */
*{
	font-family: 'Quicksand', sans-serif;
}


*{
	line-height : 1.4;
}







/* customize megatron */

.megatron {
	padding : 25px;
	background : rgba(0,0,0,0.5);
	box-sizing: border-box;
	border-radius : 10px;
}


/* mixins */

$small-screen : 768px;

@mixin small-screen{
	@media (max-width : #{$small-screen}){
		@content;
	}
};







/* colors */

$colors : (
	transparent : rgba(0,0,0,0.5)
);

@function colors($get-color){
	@return map-get($colors , $get-color)
}

/* navbar color */

.navbar-custom{
	background : black;
	position : fixed;
	width : 100%;
	z-index: 3000;

}


/* greetings padding */


/* greeting margin */

#greeting-margin{
	padding : 150px 100px 0px 100px;
	
	@include small-screen{
		padding: 50px 10px;
	
		}
	
}  




/* logo */

#logo{
	height: 30px;
}

/* header  */
body{
	background : #f1f1f1;
	font-family: 'Quicksand', sans-serif;
}

.caruselone{
	background: url(../img/home.png) ;
	background-position : center;
	background-size : cover;
	
	
}
.caruseltwo{
	background: url(../img/home2.jpg);
	background-size : cover;
	background-position: center;
	
	background-attachment : fixed;
}
.caruselthree{
	background: url(../img/home3.jpg);
	background-size : cover;
	background-position: center;
	
	background-attachment : fixed;
}
header{
	height : 100vh;
	background-attachment : fixed;
	
	
	@include small-screen{
		height : 100vh;
		margin-bottom: 1180px;
		}
	
	
	/* greeting title */
	
	#my-title{
		font-size : 70px;
		text-shadow : 0px 0px 5px black;
		opacity: 0;
		
		@include small-screen{
			font-size : 3rem;
			text-align : center !important;
		}
	}
	
}




/* access brusiour */


.banner img{
	width : 400px;
	
	@include small-screen{
			width : 200px;
			margin-left: 15%;
	}
}


/* all a tags */
a{
	cursor : pointer !important;
}


/* drop down navbar */

.dropdown-menu{
	width : 200px;
	padding-left : 10px;
}

/* main container */

.container{
	margin : 0 auto;
}


/* preloader */

#loader {
    bottom: 0;
    height: 175px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 175px;
	
}
#loader {
	
    bottom: 0;
    height: 175px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 175px;
}
#loader .dot {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 87.5px;
}
#loader .dot::before {
    border-radius: 100%;
    content: "";
    height: 87.5px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0);
    width: 87.5px;
}
#loader .dot:nth-child(7n+1) {
    transform: rotate(45deg);
}
#loader .dot:nth-child(7n+1)::before {
    animation: 0.8s linear 0.1s normal none infinite running load;
    background: #00ff80 none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+2) {
    transform: rotate(90deg);
}
#loader .dot:nth-child(7n+2)::before {
    animation: 0.8s linear 0.2s normal none infinite running load;
    background: #00ffea none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+3) {
    transform: rotate(135deg);
}
#loader .dot:nth-child(7n+3)::before {
    animation: 0.8s linear 0.3s normal none infinite running load;
    background: #00aaff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+4) {
    transform: rotate(180deg);
}
#loader .dot:nth-child(7n+4)::before {
    animation: 0.8s linear 0.4s normal none infinite running load;
    background: #0040ff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+5) {
    transform: rotate(225deg);
}
#loader .dot:nth-child(7n+5)::before {
    animation: 0.8s linear 0.5s normal none infinite running load;
    background: #2a00ff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+6) {
    transform: rotate(270deg);
}
#loader .dot:nth-child(7n+6)::before {
    animation: 0.8s linear 0.6s normal none infinite running load;
    background: #9500ff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+7) {
    transform: rotate(315deg);
}
#loader .dot:nth-child(7n+7)::before {
    animation: 0.8s linear 0.7s normal none infinite running load;
    background: magenta none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+8) {
    transform: rotate(360deg);
}
#loader .dot:nth-child(7n+8)::before {
    animation: 0.8s linear 0.8s normal none infinite running load;
    background: #ff0095 none repeat scroll 0 0;
}
#loader .lading {
    background-image: url("../images/loading.gif");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    bottom: -40px;
    height: 20px;
    left: 0;
    position: absolute;
    right: 0;
    width: 180px;
	
}
@keyframes load {
100% {
    opacity: 0;
    transform: scale(1);
}
}
@keyframes load {
100% {
    opacity: 0;
    transform: scale(1);
}
}


/* carousel */


.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}


/* second container */

.second-container{
	padding-top : 300px;
	
	
	@include small-screen{
		padding-top: 0px;
	
		}
}





/* some hidden branches */

.hide{
	opacity : 0;
	visibility : hidden;
}